* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00A550;
    height: 60px;
    padding: 0 10px
}

.header h1 {
    padding: 10px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:visited {
    color: white;
    text-decoration: none;
}

.header h1:hover {
    cursor: pointer;
}

.header_login {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.header_login li {
    list-style-type: none;
    padding: 18px;
    font-size: 20px;
}

.header_login a {
    text-decoration: none;
    color: white;
}

.header_login a:visited {
    text-decoration: none;
    color: white;
}

.logged_in {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.logged_in span {
    display: block;
    color: #414141;
    margin-right: 10px;
}

#nav_login {
    margin-left: auto;
}

@media screen and (max-width: 768px){
    .header h1 {
        padding: 17px 10px 10px 10px;
        font-size: 20px;
    }

    .header_login li {
        list-style-type: none;
        padding: 22px 10px 10px 10px;
        font-size: 18px;
    }

    .logged_in span {
        text-overflow: ellipsis;
    }

}